<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pandey.projectx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FabricFragment"
                  android:label="FabricLogin"
                  android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".LoginFragment"
                  android:label="Login"
                  android:launchMode="singleTask"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MultiFragment"
                  android:label="MultiLogin"
                  android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".SignUpFragment"
                  android:label="SignUp"
                  android:launchMode="singleTask"
                  android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ForgetUser"
                  android:label="Forgot Password"
                  android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".HomeScreen"
                  android:label="Home">

        </activity>
        <activity android:name=".SignInActivity"
                  android:label="GoogleSignIn">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="264423a8681e8aa6abe56c5a3bc6bdc4d4158e3c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>